
.blocks {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    
}

.block {
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    border:1px solid black;
}





.buttons {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
 margin-bottom:auto;
}

.button {
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
    border:1px solid black;
     
}

