<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
    <div class="accordeon">
        <ul class="menu">
            <li class="menu__item"><a class="menu__link" href="#">О нас </a>
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link"> Блок 1</p></li>
            </ul>
            </li>
        <!-- </ul> -->

        <!-- <ul class="menu"> -->
            <li class="menu__item"><a class="menu__link" href="#">Услуги </a>
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link"> Блок 2</p></li>
                
              
            </ul>
            </li>
        <!-- </ul> -->

          <!-- <ul class="menu"> -->
            <li class="menu__item"><a class="menu__link" href="#">Услуги </a>
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link"> Блок 3</p></li>
            </ul>
            </li>
        <!-- </ul> -->

          <!-- <ul class="menu"> -->
            <li class="menu__item"><a class="menu__link" href="#">Услуги </a>
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link"> Блок 4</p></li>
                
              
            </ul>
            </li>
        <!-- </ul> -->

          <!-- <ul class="menu"> -->
            <li class="menu__item"><a class="menu__link" href="#">Услуги </a>
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link"> Блок 5</p></li>
                
              
            </ul>
            </li>
        <!-- </ul> -->

          <!-- <ul class="menu"> -->
            <li class="menu__item"><a class="menu__link" href="#">Услуги </a>
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link">Блок 6</p></li>
                
              
            </ul>
            </li>
        <!-- </ul> -->

          <!-- <ul class="menu"> -->
            <li class="menu__item"><a class="menu__link" href="#">Услуги </a>
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link">Блок 7</p></li>
                
              
            </ul>
            </li>
        <!-- </ul> -->

        <!-- <ul class="menu"> -->
            <li class="menu__item"><a class="menu__link" href="#">Портфолио</a> 
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link"> Блок 8</p></li>
            </ul>
            </li>
        <!-- </ul> -->

        <!-- <ul class="menu"> -->
            <li class="menu__item"><a class="menu__link" href="#">Контакты</a> 
            <ul class="menu__open">
                <li class="menu__open__item"><p class="menu__open__link">Блок 9</p></li>
            </ul>
            </li>
        </ul>

    </div>




<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/main.js"></script>
</body>
</html>