.wrapper{
	width: 600px;
	margin:50px auto;
	padding:100px;
	border:1px solid black;
}
input{
	display:block;
	margin-bottom:30px;
	height: 30px;
}

input[type="checkbox"],
input[type="button"]{
	display:inline;
	/*float:left;*/
	margin-bottom:30px;
}
label{
	/*float: left;*/
	line-height: 30px;
	min-height: 30px;
	margin-bottom:10px;
}

.modal{
	/*width:200px;*/
	
	box-sizing: border-box;
	padding: 5px 0;
	text-align: center;
	position: fixed;
	background:#fff;
	box-shadow:3px 3px 3px rgb(0,0,0);
	
}
.modal.Success{
	z-index: 5;
	border:1px solid black;
	padding: 50px;
	color: darkgreen;
	font-size: 25px;
	top:40%;
	left:50%;
}

.modal.ErrorUserName{
	color:red;
	padding: 20px;
	top:15%;
	left:45%;
}
.modal.ErrorPassword{
	color:red;
	padding: 20px;
	top:30%;
	left:45%;
}
.modal.ErrorRepeatPassword{
	color:red;
	padding: 20px;
	top:38%;
	left:45%;
}
.modal.ErrorAgree{
	color:red;
	padding: 20px;
	top:30%;
	left:45%;
}
.modal.ErrorRegistration{
	color:red;
	padding: 20px;
	top:35%;
	left:45%;
}
/*.modal.ErrorRegistration{
	color:red;
	padding: 20px;
	top:45%;
	left:45%;
}*/
.modal.ErrorEmail{
	color:red;
	padding: 20px;
	top:21%;
	left:45%;
}
.modal.ErrorEmail{
	color:red;
	padding: 20px;
	top:21%;
	left:45%;
}

.checkRegistration {
	display: block;
	background: green;
	width: 000px;
	height: 130px;
	transition: .5s;
}

/*#registration:not(:checked) ~ .checkRegistration {
	display: none;
  background: red;
}
#registration:checked ~ .checkRegistration {
	display: block;
  background: yellow;
}*/