<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
<div class="accordeon">
<ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">О нас </a></li>
    <li class="menu__open"><p class="menu__open__link"> Какой-нибудь замечательный текст...</p></li>
</ul>

  <ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Услуги </a></li>
    <li class="menu__open"> <p class="menu__open__link"> Какой-нибудь замечательный текст...</p></li>
</ul>

<ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Портфолио</a> </li>
    <li class="menu__open"><p class="menu__open__link">  Какой-нибудь замечательный текст...</p></li>
</ul>

<ul class="menu">
    <li class="menu__item"><a class="menu__link" href="#">Контакты</a> </li>
    <li class="menu__open"> <p class="menu__open__link"> Какой-нибудь замечательный текст...</p></li>
</ul>

</div>





   <!--  <div class="accordeon">






        <ul class="menu">
            <li class="menu__item"><a class="menu__link">О нас</a>
              <ul class="menu__open">
                <li class="menu__open__item"><a class="menu__open__link" href="">  Какой-нибудь замечательный текст...</a></li>
            </ul>
        </li>

        <li class="menu__item"><a class="menu__link">Услуги</a>
            <ul class="menu__open">
                <li class="menu__open__item"><a class="menu__open__link" href="">  Какой-нибудь замечательный текст...</a></li>   
            </ul>
        </li>
        <li class="menu__item"><a class="menu__link">Портфолио</a>
          <ul class="menu__open">
            <li class="menu__open__item"><a class="menu__open__link" href="">  Какой-нибудь замечательный текст...</a></li>
        </ul>
    </li>
    <li class="menu__item"><a class="menu__link">Контакты</a>
      <ul class="menu__open">
        <li class="menu__open__item"><a class="menu__open__link" href="">  Какой-нибудь замечательный текст...</a></li>
    </ul>
</li>

</ul>
</div> -->

<script src="js/jquery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/main.js"></script>
</body>
</html>