<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width"/>
    <title>Document</title>
    <link rel="stylesheet" href="css/normalize.css"/>
    <link rel="stylesheet" href="css/reset.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <link href="js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row block">
            <div class="block1 col-xs-4 col-sm-4 cols-md-4 col-lg-4">
                <button class="button4">
                    Button1
                </button>
                <div class="button1">
                    <p>1</p>
                </div>

               

            </div>
            <div class="block2 col-xs-4 col-sm-4 cols-md-4 col-lg-4">
<input type="checkbox" id="toggle">
<label class="toggle-container" for="toggle">
 Button2
</label>
                <button class="button5">
                    Button2
                </button>
                <div class="button2">
                     <p>2</p>
                </div>


            </div>
            <div class="block3 col-xs-4 col-sm-4 cols-md-4 col-lg-4">
                <button class="button6">
                    Button3
                </button>

                <div class="button3">
                    <p>3</p>
                </div>


            </div>
        </div>
    </div>



    <script src="js/jquery.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/main.js"></script>
</body>
</html>