<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width"/>
	<title>HomeWork10</title>
	<link rel="stylesheet" href="css/normalize.css"/>
	<link rel="stylesheet" href="css/reset.css"/>
	<link rel="stylesheet" href="css/style.css"/>
	<script src="js/jquery.min.js"></script>
</head>

<body>

	<div class="wrapper">
		<form id="form" action="#">
			<input type="text" id="username" placeholder="Username">
			<input type="email" id="email" placeholder="Email">
			<input type="password"  id="password" placeholder="Password">
			<input type="password" id="repeatPassword" placeholder="Repeat Password">
			<label for="agree"><input type="checkbox" id="agree" >
			Я согласен с условиями</label>
			 <br>
			<label for="registration"><input type="checkbox" id="registration" >
			Я действительно хочу зарегистрироваться</label>
			 <br>
			<button type="button"  id="buttonRegistration" disabled >Зарегистрироваться</button></form>
	</div>




	<script src="js/custom.js"></script>
	<script src="js/main.js"></script>
</body>
</html>

